[tool.pylint."messages control"]
disable = duplicate-code, too-many-branches, too-many-locals

[tool.pylint.design]
max-statements = 50
max-attributes = 10

[tool.pylint.format]
max-line-length = 120
